{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true
      }
    ],
    "@babel/react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ]
}
